body{
    font-family: Montserrat;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.container{
    text-align: center;
}

#switch input {
    position: absolute;
    opacity: 0;
}

#switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 2em;
    width: 4em;
    background: #001933;
    border-radius: 1em;
}

#switch div {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background: #E0E0E0;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
            transition: all 300ms;
}


footer{
    text-align: center;
}

/*
light mode
*/

.light{
    background-color: #CCE5FF;
}

.light h1{
    color: #333333;
}

.accordion{
    background-color:lightsteelblue;
    color: #333333;
    border-bottom-color: #9EB0C7;
}

.explain{
    background-color: whitesmoke;
    color: #333333;
}

/*
dark mode
*/

.dark{
    background-color: #001933;
}

.dark h1{
    color: #CCE5FF;
}

.dark #interactive{
    color: #CCE5FF;
}

#switch input:checked + div {
    background: #003366;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}