<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <title>Safira's</title>
</head>
<body class="light">
    <div class="card-header d-flex flex-column">
        <h1>Get to know my recent activities!</h1>
            <button class="accordion btn data-header border-bottom-color" data-toggle="collapse" id="sos">SOS</button>
            <div class="explain" id="sosExplain" style="display: none;"><p><br>Study Omnomnomnom(eating lol) Sleep</p></div>
            <button class="accordion btn data-header border-bottom-color" data-toggle="collapse" id="exp">What I Have Done</button>
            <div class="explain" id="expExplain" style="display: none;">
                <br>
                <p>Jelajah Kampus 2019: Public Relation for Universitas Indonesia</p>
                <p>COMPFEST 11: Staff of Digital Marketing</p>
                <p>DPM Fasilkom UI 2019: Staff of Media, Creative and Design</p>
                <p>Wisuda Genap Fasilkom UI 2019: VPIC of Documentation</p>
                <p>UI Ethnovaganza 2019: VPIC of Design</p>
                <br>
            </div>

            <button class="accordion btn data-header border-bottom-color" data-toggle="collapse" id="ach">What I Achieved</button>
            <div class="explain" id="achExplain" style="display: none;">
                <br><p>juara satu di hati mamah</p>
            </div>

            <br>
            <p id="interactive"><br>Is it too bright?<br><br> turn on dark mode</p>
            <div class="container">
                <label id="switch"><input type="checkbox"><div></div></label>
            </div>
    </div>
    <script src="{% static 'js/mode.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/animation.js' %}" type="text/javascript"></script>
    <footer id="cr">&copy; Safira Rizki Anartya 2019</footer>
</body>
</html>